.navbar{
    background-color:steelblue;
    height: 90px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
      background-image: linear-gradient(to bottom,rgba(252, 54, 193, 0.329), rgba(52, 125, 209, 0.842)), url("bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      overflow:scroll;
}

.content{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
}

.logo{
      max-width: 60%;
      margin-top: 50px;
}



.register-button:hover, .login-button:hover{
      opacity: 0.7;
      background-color: antiquewhite;
      color: black;
}

.navbar ul {
      display: flex ;
      justify-content: flex-end;
      margin-left: auto;
      
}

.navbar li  {
      font-size: 16px;
      padding: 10px;
      margin-right: 0px;
}

.button{
      color:antiquewhite;
}

.nav-link{
      color:antiquewhite;
}

.nav-link:hover{
      color:slategrey;
}

.nav-title{
      color:white;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: 300;
      font-size: 20px;
}


@media screen and (max-width: 786px) {

      .nav {
        flex-direction: column;
        align-items: center;
      }
      
      
      .nav-title {
            margin-bottom: 10px;
            font-size: 1.5rem;
          }
    
          ul {
            flex-direction: column;
          }
    
          li {
            margin-right: 0;
            margin-bottom: 10px;
          }


}